body, html {
    background-color: black;
    position: relative;
    font-family: 'Permanent Marker';
}

input[type=range] {
    -webkit-appearance: none;
    height: 4px;
    width: 90%;
    outline: none;
}

.volume-box label {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.tone_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.tone_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
}
.radio {
    border: 2px solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 96px;
    border-radius: 3px;
    border: 2px solid black;
    background: #ffffff;
    margin-top: -10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d; /* Add cool effects to your sliders! */
}
input[type=range]:hover::-webkit-slider-thumb {

}
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border: 1px solid #000000;
    height: 24px;
    width: 56px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    border: 1px solid #000000;
    height: 24px;
    width: 56px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: green;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2aec2a;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0 0 1px #0d0d0d;
    background: green;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: green;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
    background: #2aec2a;
}
input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
    background: #2aec2a;
}

.volume-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.content {
    width: calc(100% - 40px);
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 20px;
}
.title {
    width: calc(100% - 20px);
    text-align: center;
    color: white;
    margin-bottom: 60px;
    font-family: 'Permanent Marker';
}

.half_part {
    width: calc(100% - 40px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.visual {
    width: 80%;
    height: 300px;
    border: 2px solid White;
}
.song_list {
    width: 80%;
    height: 200px;
    color: white;
    overflow-y: auto;
    scrollbar-width: none;
}
.song_list::-webkit-scrollbar { width: 0; }
.control_panel {
    width: 100%;
    height: 200px;
}
.bpm {
    width: 100%;
    height: 100%;

}
.navigate {
    display: flex;
    align-items: center;
    justify-content: center;
}
.bpm_window{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #2aec2a;
    background-image:-moz-radial-gradient(center bottom, circle cover, white 20%, #2aec2a 80%);
    background-image:-webkit-radial-gradient(center bottom, circle cover, white 20%, #2aec2a 80%);
    background-image:-o-radial-gradient(center bottom, circle cover, white 20%, #2aec2a 80%);
    color: black;
    font-size: 50px;
}
.start {
    border-radius: 20px;
    background-color: #2aec2a;
    width: 150px;
    height: 40px;
    border: 1px solid #2aec2a;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
    outline: none;
    color: black;
    box-shadow: 1px 1px 1px 1px white;
    font-family: 'Permanent Marker';
}
.stop {
    border-radius: 20px;
    width: 150px;
    height: 40px;
    color: black;
    border: 1px solid #2aec2a;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
    outline: none;
    box-shadow: 1px 1px 1px 1px #2aec2a;
    font-family: 'Permanent Marker';

}
.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.song {
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 15px;
    border-bottom: 2px solid white;
    padding: 5px;
    cursor: pointer;
}
.song_title {
    color: white;
    margin: 10px;
    text-align: center;
    font-size: 25px;
}

.horizontal {
    width: 30px;
}
.arr_btn {
    margin: 5px;
    cursor: pointer;
    color: white;
    font-size: 35px;
}
.arr_btn:active{
    color: #2aec2a;
}
.down {
    transform: rotate(90deg);
}
.up {
    transform: rotate(-90deg);
}
.left {
    transform: rotate(-180deg);
}
.select {
    border-color: #2aec2a;
    background-color: #2aec2a;
}

@media (max-width: 900px) {
    .content {
        flex-direction: column-reverse;
        margin: 0;
        width: 100%;
    }
    .half_part {
        width: 100%;
    }
    .visual {
        width: 100%;
    }
    .song_list {
        width: 100%;
    }
}